@model PersonResponse

@{
    ViewData["Title"] = "Edit";
}
<a asp-action="Index" class="link-hover">Back to Persons List</a>
<h1>Edit Person</h1>

<div class="w-50">
    <form asp-action="Edit" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @* Id *@
        <div class="form-field flex">
            <div class="flex-1">
                <input asp-for="Id" class="form-control" hidden/>
            </div>
        </div>

        @* Name *@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="Name" class="control-label"></label>
            </div>
            <div class="flex-1">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        @* Phone *@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="Phone" class="control-label"></label>
            </div>
            <div class="flex-1">
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>

        @* Email *@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="Email" class="control-label"></label>
            </div>
            <div class="flex-1">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        @* Date of birth *@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="DateOfBirth" class="control-label"></label>
            </div>
            <div class="flex-1">
                <input asp-for="DateOfBirth" class="form-control" type="date" max="@DateTime.Today.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
        </div>

        @* Gender *@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="Gender" class="form-label"></label>
            </div>
            <div class="flex-1">
                @{
                    string[] genders = (string[])Enum.GetNames(typeof(Gender));
                    foreach (var gender in genders)
                    {
                        if (gender == Model.Gender)
                        {
                            <input type="radio" asp-for="Gender" value="@gender" checked="checked" />

                        }
                        else
                        {
                            <input type="radio" asp-for="Gender" value="@gender" />
                        }
                        <label for="@gender">@gender</label>
                    }
                }
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
        </div>

        @* Country Name *@
        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label" asp-for="CountryName"></label>
            </div>
            <div class="flex-1">
                <select name="CountryID" id="CountryID" class="form-input">
                    @if (ViewBag.PersonCountryId == null)
                    {
                        <option selected value="">Please Select</option>
                    }

                    @foreach (CountryResponse country in ViewBag.Countries)
                    {
                        if (ViewBag.PersonCountryId == country.Id)
                        {
                            <option selected value="@country.Id">@country.Name</option>
                        }
                        else
                        {
                            <option value="@country.Id">@country.Name</option>
                        }
                    }
                </select>
                            <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
        </div>

        @* Address *@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="Address" class="form-label pt"></label>
            </div>
            <div class="flex-1">
                <textarea asp-for="Address" class="form-input"></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>

        @* Submit *@
        <div class="flex-1">
            <button class="button button-green-back">Save</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
